@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Developer Task: Modules Implementation</h1>
        <h2>Using Clean Architecture </h2>
        <h3>By Mohamed Adam</h3>
    <p> <a asp-controller="Department" asp-action="Index">Manage Departments</a>  |   <a asp-controller="Reminder" asp-action="Index">Manage Reminders</a>  </p>
</div>
